/* Nombre Completo: Pablo Andres Ruiz Arias
Clan: Nombre clan
fecha: 03/04/2024 */

@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --verdeBosque: #1A5126;
    --verdeClaro: #8FBF5F;
    --azulClaro: #5CB3FF;
    --beige: #F3E9DC;
    --marronTierra: #B18F6A;
    --blanco: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
}

/* Estilos del header */

.header{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: var(--verdeBosque);
    color: var(--blanco);
}

.rightHeader{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    padding-left: 30px;
}

.leftHeader{
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 30px;
    align-items: center;
    justify-content: end;
}

.navList{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navList li a{
    text-decoration: none;
    color: var(--blanco);
}

/* EStilos del main */
.main{
    width: 100%;
    height: auto;
    background-color: var(--beige);
}


/* Estilos de la seccion principal imagen  */
.principalImgSection{
    width: 100%;
    height: 400px;
    background-image: url('./../../public/img/imagen1.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.principalImgSectionText{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principalImgSectionText h2{
    margin-bottom: 20px;
    font-size: 40px;
}

.principalImgSectionText p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Seccion del parque Arvi  */

.parqueArvi-container{
    width: 100%;
    height: 600px;
    padding: 30px 20px;
}

.leftSection-park{
    width: 35%;
    height: 400px;
}

.parkText-container{
    text-align: center;
}

.parkText-container h3, h4{
    margin-bottom: 10px;
    color: var(--verdeBosque);
}

.parkText-container p{
    margin-bottom: 10px;
}