/* Nombre Completo: Pablo Andres Ruiz Arias
Clan: Nombre clan
fecha: 03/04/2024 */

@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --verdeBosque: #1A5126;
    --verdeClaro: #8FBF5F;
    --azulClaro: #5CB3FF;
    --beige: #F3E9DC;
    --marronTierra: #B18F6A;
    --blanco: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
}

/* Estilos del header */

.header{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: var(--verdeBosque);
    color: var(--blanco);
}

.rightHeader{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    padding-left: 30px;
}

.leftHeader{
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 30px;
    align-items: center;
    justify-content: end;
}

.navList{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navList li a{
    text-decoration: none;
    color: var(--blanco);
}

/* EStilos del main */
.main{
    width: 100%;
    height: auto;
    background-color: var(--beige);
}


/* Estilos de la seccion principal imagen  */
.principalImgSection{
    width: 100%;
    height: 400px;
    background-image: url('./../../public/img/imagen1.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.principalImgSectionText{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principalImgSectionText h2{
    margin-bottom: 20px;
    font-size: 40px;
}

.principalImgSectionText p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Seccion de los lugares ecologicos sirve tanto para el parque arvi como para el jardin botanico */


/* Parque Arvi */
.park-container{
    width: 100%;
    height: auto;
    padding: 30px 25px;
    display: flex;
}

.parkText-container{
    width: 35%;
    height: auto;
    text-align: center;
}

.parkText-container h3, h4{
    margin-bottom: 10px;
    color: var(--verdeBosque);
}

.parkText-container p{
    margin-bottom: 10px;
}

.mapa{
    width: 100%;
    height: 400px;
}

.parkImg-container{
    padding-left: 100px;
    width: 65%;
    height: auto;
}

.firstImg-container{
    width: 100%;
    height: 400px;
    margin-bottom: 5px;
}

.firstImg{
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.otherImg-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}
.otherImg{
    width: 550px;
    height: 275px;
    border-radius: 8px;
}

/* Jardin (se ajustan el tamaño de imagenes) */

.otherImg-jardin{
    width: 550px;
    height: 295px;
    border-radius: 8px;
}

/* Estilos de normas */

.normas-container{
    width: 100%;
    height: auto;
    padding: 0 25px;
}

.normasText-container{
    width: 55%;
    height: auto;
    margin: 0 auto;
    color: var(--verdeBosque);
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

.normasText-container h3{
    font-size: 24px;
}

/* Estilos de las cartas de las normas */
.cards-container{
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    background-color: var(--verdeClaro);
    text-align: center;
    justify-content: center;
    border-radius: 100px;
    padding: 20px;
}

.cardIcon{
    color: var(--blanco);
    font-size: 44px;
}

.cardText{
    color: var(--blanco);
}

/* Estilos del footer */
.footer{
    display: flex;
    width: 100%;
    height: 120px;
    background-color: var(--verdeBosque);
}

.left-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 10px 50px;
}

.alcadiaImg{
    width: 80px;
    margin-bottom: 5px;
}

.listaRedes{
    display: flex;
    list-style: none;
    gap: 12px;
}

.listaRedes li a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 18px;
}

.right-footer{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footerText{
    color: var(--blanco);
}